.button {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    p {
        font-size: 1em;
    }

    // &:hover {
    //     background: #555;
    // }

    
}

.button__icon {

    display: grid;
    grid-template-columns: var(--f5) minmax(7rem,auto) auto;
    gap: var(--f2);
    
}