.flyout__button__container {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.main__title__container {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.logo__right__container {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.flyout__button {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}