.keyboard__row {
    display: grid;
    gap: .4rem;
    font-weight: bold;

    &.one {
        grid-row: 1;
        grid-template-columns: repeat(10, 1fr);
    }

    &.two {
        grid-row: 2;
        grid-template-columns: .5fr repeat(9, 1fr) .5fr;
    }

    &.three {
        grid-row: 3;
        grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
    }
}

.keyboard__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border-radius: .4rem;
    transition: background-color 0.1s ease-out;
    transition-property: background-color, color, border-color, fill, stroke;
    
    @media (max-width: 700px) {
        font-size: .6rem;
        border-radius: .3rem;
    }

    &:hover {
        background: rgb(240, 240, 240);
    }
    &.one {
        grid-column: 1;
    }

    &.two {
        grid-column: 2;
    }

    &.three {
        grid-column: 3;
    }

    &.four {
        grid-column: 4;
    }

    &.five {
        grid-column: 5;
    }

    &.six {
        grid-column: 6;
    }

    &.seven {
        grid-column: 7;
    }

    &.eight {
        grid-column: 8;
    }

    &.nine {
        grid-column: 9;
    }

    &.ten {
        grid-column: 10;
    }

    &.eleven {
        grid-column: 11;
    }

    &.blank {
        
    }
}