body {
    font-size: var(--base);
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #FBFBFB;
}


h1, p, label {
    //margin: 0;
    color: black;
    font-size: var(--f4);
}

h2 {
    font-size: var(--f3);
}

h3 {
    font-size: var(--f2);
}

h4 {
    font-size: var(--f1);
}

.f1 {
    font-size: var(--f1);
}

.f2 {
    font-size: var(--f2);
}

.f3 {
    font-size: var(--f3);
}

.f4 {
    font-size: var(--f4);
}


.f5 {
    font-size: var(--f5);
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
}